body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
}

.container {
  max-width: 900px;
  border: 2px solid olive;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "pic4a textuha";
}

.kartinka {
  grid-area: pic4a;
}
.text {
  display: block;
  grid-area: textuha;
  padding: 2em;
  align-self: center;
}
form {
  padding: 1em;
  background: #000;
  margin-bottom: 1em;
}
.sectia1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2em;
  margin-bottom: 0.2em;
}
.sectia2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.2em;
}
form input[type="submit"] {
  background: rgb(151, 0, 197);
  border-radius: 0;
  padding: 1em;
  width: 50%;
  position: relative;
  transform: translateX(50%);
}
form input[type="text"] {
  background: transparent;
  border-radius: 0;
  padding: 1em;
  color: #fff;
}

.kartinka img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.container2 {
  max-width: 900px;
  border: 2px solid olive;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: "text1 pic41  ";
}
.kartina img {
  grid-area: pic41;
  width: 100%;
  object-fit: cover;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}

.text1 {
  grid-area: text1;
  padding: 1em;
  box-sizing: border-box;
  align-self: center;
  width: 100%;
}
.contact-form {
  max-width: 690px;

  background: rgba(0, 0, 0, 0.849);
  padding: 1em;
  border-radius: 5px;
  display: flex;
}
.input-fields {
  display: flex;
  flex-direction: column;
  margin-right: 4%;
}
.input-fields,
.msg {
  width: 48%;
}

.input,
.msg textarea {
  background: transparent;
  border: 0;
  border-bottom: 2px solid #fff;
  padding: 1em 1em 1em;
  color: #fff;
  width: 100%;
  font-size: 1em;
  margin: 0;
}
.msg textarea {
  height: 75%;
  box-sizing: border-box;
  font-size: 1em;
}

input[type="submit"] {
  text-align: center;

  border-radius: 5px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  height: 20%;
  margin-top: 10px;
  width: 100%;
  border: 0;
}
.container3 {
  max-width: 900px;
  border: 2px solid olive;
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "text1 pic41 text2";
}
.kartina1 img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}
.kartina2 {
  width: 100%;
  object-fit: cover;
  height: 100%;
  padding: 2em;
  box-sizing: border-box;
}
.kartina3 img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  padding: 1em;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  .container,
  .container2,
  .container3 {
    display: block;
  }
  .contact-form {
    display: block;
  }
  .input-fields,
  .msg {
    width: 100%;
  }

  input[type="submit"] {
    text-align: center;

    border-radius: 5px;
    color: #000;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    height: 50px;

    margin-top: 1em;
    width: 100%;
    border: 0;
  }
  .text {
    display: block;
    grid-area: textuha;
    padding: 2em;
    align-self: center;
  }
  form {
    padding: 1em;
    background: #000;
    margin-bottom: 1em;
  }
  .sectia1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2em;
    margin-bottom: 0.2em;
  }
  .sectia2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.2em;
  }
  form input[type="submit"] {
    background: rgb(151, 0, 197);
    border-radius: 0;
    padding: 1em;
    width: 100%;
    position: relative;
    transform: translateX(0%);
  }
  form input[type="text"] {
    background: transparent;
    border-radius: 0;
    padding: 1em;
    color: #fff;
    width: 100%;
  }
}
